<tr>
	<td><%= news_data.source_id  %></td>
	<td><%= news_data.source_name  %></td>
	<td><%= news_data.author  %></td>
	<td><%= news_data.title  %></td>
	<td><%= news_data.description %></td>
	<td><%= news_data.url %></td>
	<td><%= news_data.image_url %></td>
	<td><%= news_data.publish_at %></td>
	<td><%= news_data.content %></td>
</tr>
